.heading{
    font-size: 30;
    text-align: left;
    width: 99%
}

.heading button{
    float: right;
    border: 1px solid white;
}

.heading h3{
    display: inline;
}

#start{
    font-size: 22px;
}